@import "typography";
@import "variables";

// Links

a {
  color : $linkcolor;
  &:visited {
    color : $linkcolorvisited;
  }
  &:hover {
    text-decoration : underline;
    color : $linkcolorhover;
  }
  &:focus {
    outline : thin dotted;
    color : $linkcolorfocus;
  }
  &:hover,
  &:active {
    outline : 0;
  }
}

::-moz-selection {
  background-color : lighten($primaryColor, 65%);
  color : $primaryColor;
  text-shadow : none;
}

::selection {
  background-color : lighten($primaryColor, 65%);
  color : $primaryColor;
  text-shadow : none;
}

hr {
  display : block;
  margin : 1em 0;
  padding : 0;
  height : 1px;
  border : 0;
  border-top : 1px solid $grey;
  border-bottom : 1px solid $white;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.rule {
  border: 0;
  &:after {
    content: "";
    border-bottom: solid 1px $grey;
    display: block;
  }
}

// img

img {
  border-width : 0;
  vertical-align : middle;
  -ms-interpolation-mode : bicubic;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow : hidden;
}

// colours

.colour-swatch--primary {
  background: $black;
  color: #fff;
}

.colour-swatch--secondary {
  background: $darkgrey;
  color: #fff;
}

.colour-swatch--tertiary {
  background: $grey;
}

.colour-swatch--success {
  background: $success;
}

.colour-swatch--warning {
  background: $warning;
}

.colour-swatch--error {
  background: $error;
}

.colour-swatch--info {
  background: $info;
}