@import "variables";

// good measure: 45 to 75 characters
// 1em is about 2 characters, so use 22 to 38ems

// http://typecast.com/blog/a-more-modern-scale-for-web-typography

body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

//

p {
  margin-bottom: 0
}

p + p {
  text-indent: 1em;
  margin-top: 0
}

p {
     font-variant-numeric: old style-nums proportional-nums;
}


@media only screen and (min-width: 38em) {
   p, table {
     hyphens:none;
    }
}

// Consider using columns for larger screens
// @media only screen and (min-width: 66em) {
//   column-count:2;
//   column-gap: 1.5em;
// }

p {
     font-variant-numeric: old style-nums proportional-nums;
}

blockquote {
  margin: 1.5em;
}

// headers

// Only change one of bold, italic, caps at a time


// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}


// web font loading classes

// .wf-loading
// .wf-active
// .wf-inactive

// text helper classes

.uc {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.no-bull {
  list-style: none;
}

.font--primary {
  font-family: $font-family-sans-serif;
}

.font--secondary {
  font-family: $font-family-serif;
}

.font--sans {
  font-family: $font-family-sans-serif;
}

.font--serif {
  font-family: $font-family-serif;
}

code,
kbd,
pre,
samp,
.font--code {
  font-family: $font-family-monospace;
}

.h--figure {

}

// custom lists

.list-square {
  list-style-type: square;
}

.custom-list {
  list-style: none;
}

.custom-list--item:before {
  content: "\2192";
  position: absolute;
  left: 1em;
}

.custom-list--counter {
  counter-reset: step;
}

.custom-list--counter--item {
  counter-increment: step;
}

.custom-list--counter--item:before {
  content: counter(step);
  position: absolute;
  left: 1em;
}

// Hyphenation

body {
  // Ala Trent Walton
  // http://trentwalton.com/2011/09/07/css-hyphenation
  @include css-hyphens(auto);
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
  @include css-hyphens(none);
}

cite {
  display: block;
  text-align: right;
  font-style: normal;
}

.pullquote {
  &:before {
    content: "\201C";
    top:  0;
    left: 0;
  }
  &:after {
    content: "\201D";
    bottom: 0;
    right: 0;
  }
}


// Type sizes, for reference

// 6pt: nonpareil
// 7pt: minion
// 8pt: brevier or small text
// 9pt: bourgeois or galliard
// 10pt: long primer or garamond
// 11pt: small pica or philosophy
// 12pt: pica
// 14pt: english or augustin
// 18pt: great primer
// 21pt: double small pica or double pica
// 24pt: double pica or two-line pica
// 36pt: double great primer or 2-line great primer