@import "variables";

// good measure: 45 to 75 characters
// 1em is about 2 characters, so use 22 to 38ems

p {
  margin-bottom: 0
}

p + p {
  text-indent: 1em;
  margin-top: 0
}

p {
     font-variant-numeric: old style-nums proportional-nums;
}


@media only screen and (min-width: 38em) {
   p, table {
     hyphens:none;
    }
}

// Consider using columns for larger screens
// @media only screen and (min-width: 66em) {
//   column-count:2;
//   column-gap: 1.5em;
// }

p {
     font-variant-numeric: old style-nums proportional-nums;
}

blockquote {
  margin: 1.5em;
}


// web font loading classes

// .wf-loading
// .wf-active
// .wf-inactive

// text helper classes

.uc {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.no-bull {
  list-style: none;
}

.font--primary {
  font-family: $font-family-sans-serif;
}

.font--secondary {
  font-family: $font-family-serif;
}

.font--sans {
  font-family: $font-family-sans-serif;
}

.font--serif {
  font-family: $font-family-serif;
}

code,
kbd,
pre,
samp,
.font--code {
  font-family: $font-family-monospace;
}

.h--figure {

}

// custom lists

.list-square {
  list-style-type: square;
}

.custom-list {
  list-style: none;
}

.custom-list--item:before {
  content: "\2192";
  position: absolute;
  left: 1em;
}

.custom-list--counter {
  counter-reset: step;
}

.custom-list--counter--item {
  counter-increment: step;
}

.custom-list--counter--item:before {
  content: counter(step);
  position: absolute;
  left: 1em;
}

// Hyphenation

body {
  // Ala Trent Walton
  // http://trentwalton.com/2011/09/07/css-hyphenation
  @include css-hyphens(auto);
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
  @include css-hyphens(none);
}

cite {
  display: block;
  text-align: right;
  font-style: normal;
}

.pullquote {
  &:before {
    content: "\201C";
    top:  0;
    left: 0;
  }
  &:after {
    content: "\201D";
    bottom: 0;
    right: 0;
  }
}