<blockquote>
  <p>This text is quoted. A block of quoted text like this is particularly useful when presented as a pull-quote within an article of text.</p>
  <cite>
      <small><a href="https://github.com/SteveBarnett/Front-end-Style-Guide">Author</a></small>
  </cite>
</blockquote>

<blockquote class="pullquote">
  <p>This text is quoted. A block of quoted text like this is particularly useful when presented as a pull-quote within an article of text.</p>
  <cite>
      <small><a href="https://github.com/SteveBarnett/Front-end-Style-Guide">Author</a></small>
  </cite>
</blockquote>