<label>Input type text
  <input type="text">
</label>

<label>Input type text required
  <input type="text" required>
</label>

<label>Input type text disabled
  <input type="text" disabled="disabled" class="is-disabled">
</label>

<label>Input type text speech
  <input type="text" x-webkit-speech="">
</label>

<label>Text input with datalist</label>
<input type="text" value="" list="fav-color" placeholder="Type your favorite color">
<datalist id="fav-color">
  <option value="Red"></option>
  <option value="Orange"></option>
  <option value="Yellow"></option>
  <option value="Green"></option>
  <option value="Blue"></option>
  <option value="Purple"></option>
</datalist>