<ul>
  <li>A list item</li>
  <li>Another item in a list</li>
  <li>Yet another item in this list of items</li>
</ul>

<ul class="custom-list">
  <li class="custom-list--item" data-bullet="&rarr;">A list item with a custom bullet</li>
  <li class="custom-list--item" data-bullet="&rarr;">Another item in a list</li>
  <li class="custom-list--item"  data-bullet="&rarr;">Yet another item in this list of items</li>
</ul>

<ul class="custom-list custom-list--counter">
  <li class="custom-list--counter--item" data-bullet="&rarr;">A list item with a custom bullet</li>
  <li class="custom-list--counter--item" data-bullet="&rarr;">Another item in a list</li>
  <li class="custom-list--counter--item"  data-bullet="&rarr;">Yet another item in this list of items</li>
</ul>