  <nav role="navigation" id="nav" class="nav">
    <ul>
      <li><a href="#">Navigation item link</a></li>
      <li class="active"><a href="#">Active navigation item link</a></li>
    </ul>
  </nav>
<!--
Add styles of nav here.
* vertical-nav
* tabbed-nav
* breadcrumb-nav
-->

<nav class="pagination">
  <ul>
    <li class="page-prev"><a href="#">&larr; Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="page-next"><a href="#">Next &rarr;</a></li>
  </ul>
</nav>