<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond. <abbr title="HyperText Markup Language">HTML</abbr> is an example of an abbreviation. Some text may be <small>small</small>. If text has been edited, there may be <ins>insertions</ins> and <del>deletions</del>.</p>

<p>Quick legibility test:<br />
agh! iIl1 o0<br />
AGH! IIL1 O0</p>

<!-- Add examples of different weight available. -->
<!--
Font-name
Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz
-->

<!-- Add examples of different sizes used. -->
