<img alt="This is an example of a missing image">

<figure>
  <span data-picture data-alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
    <span data-src="img/small.jpg"></span>
    <span data-src="img/medium.jpg" data-media="(min-width: 400px)"></span>
    <span data-src="img/large.jpg" data-media="(min-width: 800px)"></span>
    <span data-src="img/extralarge.jpg" data-media="(min-width: 1000px)"></span>

    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript><img src="img/small.jpg" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia" /></noscript>
  </span>
  <figcaption>
    An example figcaption.
  </figcaption>
</figure>