<select>
  <option>option text</option>
  <option>another option text</option>
  <optgroup label="Optgroup">
    <option>option text</option>
    <option>another option text</option>
  </optgroup>
</select>

<select multiple size="5">
  <option>option text</option>
  <option>another option text</option>
  <optgroup label="Optgroup">
    <option>option text</option>
    <option>another option text</option>
  </optgroup>
</select>

<select disabled="disabled" class="is-disabled">
  <option>option text (disabled)</option>
</select>