<div class="tac clearfix">
  <div class="colour-swatch colour-swatch--primary tac">Black<br />$black</div>
  <div class="colour-swatch colour-swatch--secondary tac">Dark Grey<br />$darkgrey</div>
  <div class="colour-swatch colour-swatch--tertiary tac">Grey<br />$grey</div>

  <div class="colour-swatch colour-swatch--success tac">success<br />$success</div>
  <div class="colour-swatch colour-swatch--warning tac">warning<br />$warning</div>
  <div class="colour-swatch colour-swatch--error tac">error<br />$error</div>
  <div class="colour-swatch colour-swatch--info tac">info<br />$info</div>
</div>

<!-- Add background and border combinations. -->