      <table>
          <caption>An example table</caption>
          <thead>
            <tr>
              <th scope="col">Row title 1</th>
              <th scope="col">Row title 2</th>
              <th scope="col">Row title 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row entry</td>
              <td>Row entry</td>
              <td>Row entry</td>
            </tr>
            <tr>
              <td>Row entry</td>
              <td>Row entry</td>
              <td>Row entry</td>
            </tr>
          </tbody>
        </table>