<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="stylesheets/style.css" media="screen, handheld"/>
        <!--[if (lt IE 9)&(!IEMobile)]><link rel="stylesheet" href="stylesheets/ie.css" /> <![endif]-->
        <!-- <link rel="dns-prefetch" href="//example.com" /> -->

        <!--<script src="js/modernizr.custom.min.js"></script> -->

        <!-- Combine js files and grab here -->
        <script type="text/javascript">
        // function downloadJSAtOnload() {
        // var element = document.createElement("script");
        // element.src = "js/main.min.js";
        // document.body.appendChild(element);
        // }
        // if (window.addEventListener)
        // window.addEventListener("load", downloadJSAtOnload, false);
        // else if (window.attachEvent)
        // window.attachEvent("onload", downloadJSAtOnload);
        // else window.onload = downloadJSAtOnload;
        </script>

        <style>
          .sg-pattern {
            margin: 0 auto 2em auto;
            width: 95%;
            border-top: solid 1px #eee;
          }
          .sg-pattern-link {
            display: block;
            padding: 0.25em;
            text-align: right;
            margin-bottom: 1em;
          }
          .sg-pattern-link:hover {
            background: #eee;
          }
        </style>
    </head>
    <body>

    {% for pattern in site.data.patterns %}
    <div class="sg-pattern" id="{{pattern | replace:' ', '-' | replace: '.html', '' }}">
      <a href="#{{pattern | replace:' ', '-' | replace: '.html', '' }}" class="sg-pattern-link" title="Link to {{pattern | replace:' ', '-' | replace: '.html', '' }}">{{pattern}}</a>
      {% include {{pattern}} %}
    </div>
    {% endfor %}

      {{ content }}

      <div class="sg-pattern">
        <form action="">
          <!-- Show form fields at different widths -->
          <!-- Show left labels, top labels -->
          <fieldset>
            <legend>Legend for a fieldset</legend>
            <p>Contents of a fieldset</p>
          </fieldset>
        </form>
      </div>



      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <!--
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
      -->

        <script src="js/main.js"></script>
        <script src="js/picturefill.js"></script>
        <script src="js/matchmedia.js"></script>
    </body>
</html>
