<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="stylesheets/style.css" media="screen, handheld"/>
        <!--[if (lt IE 9)&(!IEMobile)]><link rel="stylesheet" href="stylesheets/ie.css" /> <![endif]-->
        <!-- <link rel="dns-prefetch" href="//example.com" /> -->

        <!--<script src="js/modernizr.custom.min.js"></script> -->

        <!-- Combine js files and grab here -->
        <script type="text/javascript">
        // function downloadJSAtOnload() {
        // var element = document.createElement("script");
        // element.src = "js/main.min.js";
        // document.body.appendChild(element);
        // }
        // if (window.addEventListener)
        // window.addEventListener("load", downloadJSAtOnload, false);
        // else if (window.attachEvent)
        // window.attachEvent("onload", downloadJSAtOnload);
        // else window.onload = downloadJSAtOnload;
        </script>
    </head>
    <body>

      {{ content }}

      {% include skip-to-main.html %}
      {% include banner.html %}
      {% include menu-link.html %}

      <main role="main" id="main" class="main" tabindex="-1">
        {% include swatches.html %}

        {% include fonts.html %}
        {% include heading1.html %}
        {% include heading2.html %}
        {% include heading3.html %}
        {% include heading4.html %}
        {% include heading5.html %}
        {% include heading6.html %}
        {% include paragraph.html %}
        {% include blockquote.html %}
        {% include code-and-pre.html %}
        {% include rule.html %}
        {% include definitions.html %}
        {% include responsive-image.html %}
        {% include table.html %}

        <form action="">
          <fieldset>
            <legend>Legend for a fieldset</legend>
            {% include input-email.html %} <br />
            {% include input-number.html %} <br />
            {% include input-text.html %} <br />
            {% include input-url.html %} <br />
            {% include input-search.html %} <br />
            {% include input-tel.html %} <br />
            {% include input-password.html %} <br />
            {% include input-range.html %} <br />
            {% include input-date.html %} <br />
          </fieldset>
          {% include select.html %} <br />
          {% include textarea.html %} <br />
          {% include checkbox.html %} <br />
          {% include input-radio.html %} <br />
          {% include button.html %} <br />
          {% include submit.html %} <br />
        </form>

        {% include list-ordered.html %}
        {% include list-unordered.html %}

        {% include meter-and-progress.html %}

        {% include details-summary.html %}

      </main>

      {% include footer.html %}

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <!--
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
      -->

        <script src="js/main.js"></script>
        <script src="js/picturefill.js"></script>
        <script src="js/matchmedia.js"></script>
    </body>
</html>
